@import url(http://fonts.googleapis.com/css?family=Lato:100,300);
html, body {
    font-family:lato, arial, helvetica;
}
canvas {
	position: absolute;
	cursor: crosshair;
	display: hidden;
	height: 100%;

}
body > div{
    background: #232323;
}


h1, h2, h3, h4{font-weight:120; text-align:center; color:#ddd;  margin:0; text-transform:uppercase;}
span{text-align:center; margin:0px auto; display:block; color:#666; font-size:21px;}
span + span{color:#000; font-size:16px; margin-top:20px; font-weight:300;}





p {font-family: 'Sunshiney', cursive; color: white;  text-indent:70px; text-align:justify;margin-left:90px; margin-right:90px; font-size:60px;}

a:link    {color:green;}
a:visited {color:green;}
a:hover   {color:red;}
a:active  {color:yellow;}

#cover {font-family: 'Lobster', cursive; text-align:center; font-size: 20px; text-size:200px; color:white;}

.endtext {text-align:right;}

/*------------------------------------*\
    Balloons
\*------------------------------------*/

.balloon {
    position:absolute;
    bottom: -5%;
    opacity: .9;
    border-radius: 50%;
    width: 18px;
    height: 25px;
    cursor: crosshair; 
    z-index: 2;
}

/* crap attempt at balloon neck */
.balloon:after {
    position: relative;
    background: inherit;
    top: 18px;
    left: 8px;
    display: block;
    content: '';
    height: .6rem;
    width: .2rem;
    border-radius: 100%;
}

.balloon:hover {
    font-size: 2.1em;
    opacity: .7;
}
.balloon:active { cursor: crosshair; } 



/*------------------------------------*\
    Starting Ballons - 1 iteration
\*------------------------------------*/
.balloon:nth-child(1) {
    background: rgb(235,255,20);
    bottom: 55%;
    left: 50%;
    -webkit-animation: once-a 8s 1 ease-in forwards;
            animation: once-a 8s 1 ease-in forwards;    
}
@-webkit-keyframes once-a {
    0% { bottom: 55%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
    20% { -webkit-transform: rotate(4deg); }
    50% { -webkit-transform: translateX( 5px)  rotate(-12deg); }
    75% { -webkit-transform: translateX(-2px) rotate(10deg); }
    100% { bottom: 110%;
        -webkit-transform: rotate(-8deg); 
    }
}
@keyframes once-a {
  0% { bottom: 55%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
    20% { -webkit-transform: rotate(4deg);}
    50% { -webkit-transform: translateX(5px) rotate(-12deg); }
    75% { -webkit-transform: translateX(-2px) rotate(10deg); }
    100% { bottom: 110%;
        -webkit-transform: rotate(-8deg); 
    }
}

.balloon:nth-child(2) {
    background: rgb(39,20,255);
    bottom: 35%;
    left: 20%;
    -webkit-animation: once-b 8s 1 ease-in forwards;
            animation: once-b 8s 1 ease-in forwards; 
}
@-webkit-keyframes once-b {
    0% {  bottom: 35%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: rotate(-8deg); }
    50% { -webkit-transform: translateX(-10px) rotate(10deg); }
    75% { -webkit-transform: translateX(5px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
}
@keyframes once-b {
    0% {  bottom: 35%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: rotate(-8deg); }
    50% { -webkit-transform: translateX(-10px) rotate(10deg); }
    75% { -webkit-transform: translateX(5px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
}

.balloon:nth-child(3) {
    background: rgb(189,96,255);
    bottom: 15%;
    left: 30%;
    -webkit-animation: once-c 11s 1 ease-in forwards;
            animation: once-c 11s 1 ease-in forwards;
}
@-webkit-keyframes once-c {
    0% {  bottom: 15%;
        -webkit-transform:translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: translateX(-4px) rotate(4deg); }
    50% { -webkit-transform: translateX(8px) rotate(-8deg); }
    75% { -webkit-transform: translateX(-10px) rotate(10deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
}

@keyframes once-c {
    0% {  bottom: 15%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: translateX(-4px) rotate(4deg); }
    50% { -webkit-transform: translateX(8px) rotate(-8deg); }
    75% { -webkit-transform: translateX(-10px) rotate(10deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
}

.balloon:nth-child(4) {
    background:  rgb(255,39,20);
    bottom: 5%;
    left: 55%;
    -webkit-animation: once-d 14s 1 ease-in forwards;
            animation: once-d 14s 1 ease-in forwards;
}
@-webkit-keyframes once-d {
    0% {  bottom: 5%;
        -webkit-transform: translateX(0) rotate(-4deg); 
    }
    40% { -webkit-transform: translateX(-8px) rotate(10deg); }
    85% { -webkit-transform: translateX(10px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0); 
    }
}
@keyframes once-d {
    0% {  bottom: 5%;
        -webkit-transform:translateX(0) rotate(-4deg); 
    }
    40% { -webkit-transform: translateX(-8px) rotate(10deg); }
    85% { -webkit-transform: translateX(10px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0); 
    }
}

.balloon:nth-child(5) {
    background:  rgb(20,235,255);
    bottom: 10%;
    left: 75%;
    -webkit-animation: once-e 10s 1 ease-in forwards;
            animation: once-e 10s 1 ease-in forwards;
}
@-webkit-keyframes once-e {
    0% {  bottom: 10%;
        -webkit-transform: translateX(0) rotate(-4deg); 
    }
    40% { -webkit-transform: translateX(-8px) rotate(10deg); }
    85% { -webkit-transform: translateX(10px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0); 
    }
}
@keyframes once-e {
    0% {  bottom: 10%;
        -webkit-transform: translateX(0) rotate(-4deg); 
    }
    40% { -webkit-transform: translateX(-8px) rotate(10deg); }
    85% { -webkit-transform: translateX(10px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0); 
    }
}


/*------------------------------------*\
        Infinite Ballons
\*------------------------------------*/

.balloon:nth-child(6) {
    background: rgb(255,138,187);
    bottom: -10%;
    left: 45%;
    -webkit-animation: balloon 13s 2s infinite ease-in;
            animation: balloon 13s 2s infinite ease-in;
}
@-webkit-keyframes balloon {
    0% {  
        bottom: -10%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
    20% { -webkit-transform: rotate(4deg); }
    50% { -webkit-transform: translateX(5px) rotate(-12deg); }
    75% { -webkit-transform: translateX(-2px) rotate(10deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: rotate(-8deg); 
    }
}
@keyframes balloon {
    0% {  
        bottom: -10%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
    20% { -webkit-transform: rotate(4deg); }
    50% { -webkit-transform: translateX(5px) rotate(-12deg); }
    75% { -webkit-transform: translateX(-2px) rotate(10deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: rotate(-8deg); 
    }
}


.balloon:nth-child(7) {
    background: rgb(255,171,53);
    bottom: -10%;
    left: 20%;
    -webkit-animation: balloon2 15s 3.2s infinite ease-in;
            animation: balloon2 15s 3.2s infinite ease-in; 
}
@-webkit-keyframes balloon2 {
    0% {  bottom: -10%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: rotate(-8deg); }
    50% { -webkit-transform: translateX(-10px) rotate(10deg); }
    75% { -webkit-transform: translateX(5px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
}
@keyframes balloon2 {
    0% {  bottom: -10%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: rotate(-8deg); }
    50% { -webkit-transform: translateX(-10px) rotate(10deg); }
    75% { -webkit-transform: translateX(5px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(8deg); 
    }
}


.balloon:nth-child(8){
    background: rgb(39,20,255);
    bottom: -10%;
    left: 75%;
    -webkit-animation: balloon3 19s 10s infinite ease-in;
            animation: balloon3 19s 10s infinite ease-in;
}
@-webkit-keyframes balloon3 {
    0% {  bottom: -10%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: translateX(-4px) rotate(4deg); }
    50% { -webkit-transform: translateX(8px) rotate(-8deg); }
    75% { -webkit-transform: translateX(-10px) rotate(10deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
}
@keyframes balloon3 {
    0% {  bottom: -10%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
    20% { -webkit-transform: translateX(-4px) rotate(4deg); }
    50% { -webkit-transform: translateX(8px) rotate(-8deg); }
    75% { -webkit-transform: translateX(-10px) rotate(10deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0deg); 
    }
}


.balloon:nth-child(9) {
    background: rgb(235,255,20);
    bottom: -10%;
    left: 55%;
    -webkit-animation: balloon4 12s 6s infinite ease-in;
            animation: balloon4 12s 6s infinite ease-in;
}
@-webkit-keyframes balloon4 {
    0% {  bottom: -10%;
        -webkit-transform: translateX(0) rotate(-4deg); 
    }
    40% { -webkit-transform: translateX(-8px) rotate(10deg); }
    85% { -webkit-transform: translateX(10px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0); 
    }
}
@keyframes balloon4 {
    0% {  bottom: -10%;
        -webkit-transform: translateX(0) rotate(-4deg); 
    }
    40% { -webkit-transform: translateX(-8px) rotate(10deg); }
    85% { -webkit-transform: translateX(10px) rotate(-8deg); }
    100% { 
        bottom: 110%;
        -webkit-transform: translateX(0) rotate(0); 
    }
}

.balloon:nth-child(10) {
    bacground: rgb(189,96,255);
    bottom: -10%;
    left: 65%;
    -webkit-animation: balloon4 12s 10s infinite ease-in;
            animation: balloon4 12s 10s infinite ease-in;
}

.balloon:nth-child(11) {
    background: rgb(20,189,34);
    bottom: -10%;
    left: 85%;
    -webkit-animation: balloon2 12s 4s infinite ease-in;
            animation: balloon2 12s 4s infinite ease-in;
}

.balloon:nth-child(12) {
    background: rgb(20,235,255);
    bottom: -10%;
    left: 10%;
    -webkit-animation: balloon3 14s 7s infinite ease-in;
            animation: balloon3 14s 7s infinite ease-in;
}

.balloon:nth-child(13) {
    background: rgb(255,39,20);
    bottom: -10%;
    left: 30%;
    -webkit-animation: balloon 13s 10.5s infinite ease-in;
            animation: balloon 13s 10.5s infinite ease-in;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .5s;
            transition: opacity .5s;
}


